__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/
.python-version

log.txt

instance/
*.db
*.sqlite3

.DS_Store
Thumbs.db

.vscode/

.env

.idea/

*.egg-info/
dist/
build/
